<form class="form-horizontal" role="form">
  <fieldset class="form-group">
    <legend>Page</legend>
    {{page-input inputId='page-name' label='name' placeholder='Put page name here' value=page.name}}
    {{page-input inputId='page-url' label='url' placeholder='Put page url here' value=page.url onKeyUp=(action 'isUrlValid')}}
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <a href="{{page.url}}" target="_blank" class="btn btn-default{{if isUrlValid "" " disabled"}}">Open url</a>
        <p class="open-url-tip">Using <a href="http://selectorgadget.com/" target="_blank">SelectorGadget</a> makes getting CSS selectors easy.</p>
      </div>
    </div>
    {{page-input inputId='page-title' label='title' placeholder='Leave blank to fill automatically' value=page.titleCssSel}}
    {{page-input inputId='page-desc' label='description' placeholder='Leave blank to fill automatically' value=page.descCssSel}}
  </fieldset>
  <fieldset class="form-group">
    <legend>Article</legend>
    {{page-input inputId='art-url' label='url' placeholder='Put CSS selector here' value=page.artUrlCssSel}}
    {{page-input inputId='art-title' label='title' placeholder='Put CSS selector here' value=page.artTitleCssSel}}
    {{page-input inputId='art-desc' label='description' placeholder='Put CSS selector here' value=page.artDescCssSel}}
  </fieldset>
  <div class="form-group">
    <div class="col-sm-12 text-center">
      <button type="submit" class="btn btn-default">Save page and build RSS feed</button>
    </div>
  </div>
</form>
